<% method ||= :post %>
<% @answer_id ||= 0 %>
<% @alternatives ||= [] %>

<%= form_with model: @problem, method: method do |f| %>

  <div class="d-flex flex-column gap-3">

    <% if !f.object.errors.empty? %>
      <div class="m-2 p-2 rounded-3 border border-danger">
        <% f.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </div>
    <% end %>

    <div class="d-flex align-items-center">
      <%= f.label "問題タイプ", class: "col-1 text-center" %>
      <%= f.collection_select :problem_type_id, ProblemType.all, :id, :name, {}, class: "form-select" %>
    </div>

    <div class="d-flex align-items-center">
      <%= f.label "領域", class: "col-1 text-center"  %>
      <%# genreもモデル化しないとあかんわ %>
      <%= f.select :genre, ["敬語", "文法", "語彙", "言葉の意味", "表記", "漢字"], {}, class: "form-select" %>
    </div>

    <div class="d-flex align-items-center">
      <%= f.label "問題文", class: "col-1 text-center"  %>
      <%= f.text_area :sentence, class: "form-control", rows: 5 %>
    </div>

    <div class="d-flex align-items-center flex-wrap">
      <%= f.label "選択肢",class: "col-1 text-center" %>
      <div id="my-alt-form-area" class="col-11">
        <% [1, @alternatives.size].max.times.each do |i| %>
          <div class="d-flex align-items-center mb-1">
            <% if i == @answer_id %>
              <%= f.radio_button :answer, i, class: "btn-check", id: "answer-#{i}", checked: true %>
            <% else %>
              <%= f.radio_button :answer, i, class: "btn-check", id: "answer-#{i}" %>
            <% end %>
            <%= label_tag "answer-#{i}", "正解", class: "btn btn-sm btn-outline-danger rounded-pill text-nowrap" %>
            <%= text_field_tag "alternatives[]", @alternatives[i] ? @alternatives[i].sentence : "", class: "form-control" %>
            <i class="bi bi-x fs-3 my-remove-alt"></i>
          </div>
        <% end %>
      </div>
      <div id="my-add-alt" class="col-11 fs-4 text-center ms-auto border-1 rounded" style="border: dashed #6c757d;">
        <i class="bi bi-plus-circle-dotted"></i>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <%= f.label "解説", class: "col-1 text-center" %>
      <%= f.text_area :explanation, class: "form-control", rows: 5 %>
    </div>

    <div class="col-12 text-center">
      <%= f.submit "登録", class: "btn btn-primary col-8" %>
    </div>
  </div>

<% end %>


<%= javascript_pack_tag "problems/flex_alternatives" %>