<%= form_with model: @problem, method: :post do |f| %>

<% f.object.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>

<%= f.label "問題タイプ" %>
<%= f.collection_select :problem_type_id, ProblemType.all, :id, :name %>

<%= f.label "領域" %>
<%= f.select :genre, ["敬語", "文法", "語彙", "言葉の意味", "表記", "漢字"] %>

<%= f.label "問題文" %>
<%= f.text_area :sentence %>

<%= f.label "選択肢" %>
<%= text_field_tag "alternatives[]", "", class: "form-control" %>
<%= f.radio_button :answer, 0 %>

<%= text_field_tag "alternatives[]", "", class: "form-control" %>
<%= f.radio_button :answer, 1 %>

<%= text_field_tag "alternatives[]", "", class: "form-control" %>
<%= f.radio_button :answer, 2 %>

<%= text_field_tag "alternatives[]", "", class: "form-control" %>
<%= f.radio_button :answer, 3 %>

<%= f.label "解説" %>
<%= f.text_area :explanation %>


<%= f.submit "登録" %>
<% end %>