<%= form_with model: @problem, method: :post do |f| %>

  <% f.object.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  <div class="d-flex flex-column gap-2">
    <div class="d-flex align-items-center">
      <%= f.label "問題タイプ", class: "col-1 text-center" %>
      <%= f.collection_select :problem_type_id, ProblemType.all, :id, :name, {}, class: "form-select" %>
    </div>

    <div class="d-flex align-items-center">
      <%= f.label "領域", class: "col-1 text-center"  %>
      <%= f.select :genre, ["敬語", "文法", "語彙", "言葉の意味", "表記", "漢字"], {}, class: "form-select" %>
    </div>

    <div class="d-flex align-items-center">
      <%= f.label "問題文", class: "col-1 text-center"  %>
      <%= f.text_area :sentence, class: "form-control" %>
    </div>

    <div class="d-flex align-items-center">
      <%= f.label "選択肢",class: "col-1 text-center" %>
      <div class="col-11">
        <% 4.times.each do |i| %>
          <div class="d-flex align-items-center mb-1">
            <%= f.radio_button :answer, i, class: "btn-check", id: "answer-#{i}" %>
            <%= label_tag "answer-#{i}", "正解", class: "btn btn-sm btn-outline-danger rounded-pill text-nowrap" %>
            <%= text_field_tag "alternatives[]", "", class: "form-control" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <%= f.label "解説", class: "col-1 text-center" %>
      <%= f.text_area :explanation, class: "form-control" %>
    </div>

    <div class="col-12 text-center">
      <%= f.submit "登録", class: "btn btn-primary col-8" %>
    </div>
  </div>
<% end %>